@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  color: #eaeaea;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
} */
